<div>
  <div>
    <h1>
      <%= @current_user.first_name %> <%= @current_user.last_name %>'s bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
      <select name="query_movie_id" id="movie_id_box">
        <% Movie.all.order({ :created_at => :desc }).each do |a_movie| %>
          <option value="<%= a_movie.id %>"><%= a_movie.title %></option>
        <% end %>
      </select>
      
      <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">

      <button>
        Bookmark this movie!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1px">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
        <% if a_bookmark.user_id == @current_user.id %>
          <tr>
            <td>
              <%= Movie.where({ :id => a_bookmark.movie_id }).at(0).title %>
            </td>

            <td>
              <%= time_ago_in_words(a_bookmark.created_at) %> ago
            </td>

            <td>
              <a href="/delete_bookmark/<%= a_bookmark.id %>">Un-bookmark</a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
